<div class="menu-backdrop" [class.show]="isOpen" (click)="onBackdropClick()">
  <div class="menu-popup" [class.show]="isOpen" (click)="onMenuClick($event)">
    <ul class="menu-list">
      <li class="menu-item">
        <a href="#" class="menu-link">
          <img src="/assets/images/arrow-right-outline.svg" alt="" class="menu-icon" />
          <span class="menu-text">1</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">
          <img src="/assets/images/arrow-right-outline.svg" alt="" class="menu-icon" />
          <span class="menu-text">2</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">
          <img src="/assets/images/arrow-right-outline.svg" alt="" class="menu-icon" />
          <span class="menu-text">3</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">
          <img src="/assets/images/arrow-right-outline.svg" alt="" class="menu-icon" />
          <span class="menu-text">4</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">
          <img src="/assets/images/arrow-right-outline.svg" alt="" class="menu-icon" />
          <span class="menu-text">5</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">
          <img src="/assets/images/arrow-right-outline.svg" alt="" class="menu-icon" />
          <span class="menu-text">6</span>
        </a>
    </ul>
  </div>
</div>
