<div class="menu-backdrop" [class.show]="isOpen" (click)="onBackdropClick()">
  <div class="menu-popup" [class.show]="isOpen" (click)="onMenuClick($event)">
    <div class="menu-header" aria-hidden="false">
      <h3 class="menu-title" tabindex="-1">Menu</h3>
    </div>

    <ul class="menu-list">
      <li class="menu-item">
        <a href="#" class="menu-link" (click)="onSelect('chatbot'); $event.preventDefault(); $event.stopPropagation()" [class.selected]="selectedId === 'chatbot'">
          <img src="/assets/images/message-square-outline.svg" alt="" class="menu-icon" />
          <span class="menu-text">ChatBot</span>
        </a>
      </li>
      
      <li class="menu-item menu-item--parent" [class.expanded]="isExpanded('motor-1')">
        <button
          type="button"
          class="menu-link menu-link--parent"
          (click)="toggleExpand('motor-1'); $event.stopPropagation()"
          [attr.aria-expanded]="isExpanded('motor-1')"
          aria-controls="motor-1-sublist"
        >
          <img src="/assets/images/arrow-right-outline.svg" alt="" class="menu-icon" />
          <span class="menu-text">Motor 1</span>
        </button>

        <ul
          id="motor-1-sublist"
          class="menu-sublist"
          role="group"
          aria-label="Motor 1 detalhes"
          *ngIf="isExpanded('motor-1')"
        >
          <li class="menu-item">
            <a href="#" class="menu-link menu-link--child" (click)="onSelect('completo'); $event.preventDefault(); $event.stopPropagation()" [class.selected]="selectedId === 'completo'">
              <span class="menu-bullet">-</span>
              <span class="menu-text">Completo</span>
            </a>
          </li>

          <li class="menu-item">
            <a href="#" class="menu-link menu-link--child" (click)="onSelect('pistao-grande'); $event.preventDefault(); $event.stopPropagation()" [class.selected]="selectedId === 'pistao-grande'">
              <span class="menu-bullet">-</span>
              <span class="menu-text">Pistão Grande</span>
            </a>
          </li>

          <li class="menu-item">
            <a href="#" class="menu-link menu-link--child" (click)="onSelect('pistao-pequeno'); $event.preventDefault(); $event.stopPropagation()" [class.selected]="selectedId === 'pistao-pequeno'">
              <span class="menu-bullet">-</span>
              <span class="menu-text">Pistão Pequeno</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
